<div class="renders">
    <ul class="countries-list">
    {{#each this}}
        <a href="" class="countries-link">
            <li class="countries-item">{{this}}</li>
        </a>
    {{/each}}
    </ul>
</div>